.head {
    height: 50px;
    width: 100%;
    background-color: #282c34;
    position: fixed;
    display: flex;
    top: 0px;
    align-items: center;
    font-size: 25px;
}

.person{
  margin-left: auto;
}