.head {
    height: 50px;
    width: 100%;
    background-color: #282c34;
    position: fixed;
    display: flex;
    top: 0px;
    align-items: center;
    font-size: 25px;
    z-index: 999;
}

.person{
  margin-left: auto;
  color: rgb(218, 255, 10);
  font-size: 25px;
  border: 5px solid rgb(99, 99, 4);
  border-radius: 50%;
}

.mainname{
      color: aqua;
}