@media screen and (max-width:800px) {
    .maindash {
        padding-top: 50px;
        color: red;
    }
}


@media screen and (min-width: 1000px){
    .maindash {
        padding-top: 50px;
        color: red;
        padding-left: 50px;
    }

}