@media screen and (max-width:800px) {
    .maindeci {
        padding-top: 50px;
        color: blue;
    }
}


@media screen and (min-width: 1000px){
    .maindeci {
        padding-top: 50px;
        color: blue;
        padding-left: 50px;
    }
}